.accordion-panel {
  align-items: center;
  border-bottom: 0.25rem solid var(--colorBlack);
  border-top: 0.25rem solid var(--colorBlack);
  display: flex;
  padding: 1.5rem 1rem 1.5rem 0;

  .accordion-panel__content {
    flex: 1;
  }

  svg {
    fill: black;
  }
}