.container {
  background-color: var(--colorPrimary);
}

.ndaImages {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.ndaImages img {
  margin-bottom: 1rem;
  margin-right: 0;
}

@media (min-width: 701px) {
  .heading {
    grid-column: 4 / span 6;
    text-align: right;
  }

  .ndaHeading,
  .knowMoreHeading,
  .knowMoreCTA {
    text-align: center;
  }

  .ndaImages {
    flex-direction: row;
    justify-content: center;
  }

  .ndaImages img {
    margin-right: 1rem;
  }

  .ndaImages img:last-child {
    margin-right: 0;
  }
}
