.intro-section {
  background: var(--colorWhite);
  margin-top: 6rem;
  position: relative;

  .intro-section__avatar {
    align-items: center;
    display: flex;
    justify-content: center;
    left: -50px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;

    img {
      border-radius: 50%;
    }

    h1 {
      left: -42px;
      margin-bottom: unset;
      position: relative;
    }
  }

  .intro-section__paragraphGroup {
    grid-column: 2 / span 3;
  }
}

@media (min-width: 701px) {
  .intro-section {
    margin-top: unset;

    .intro-section__avatar {
      justify-content: center;
      left: unset;
      margin-top: 7rem;

      h1 {
        left: unset;
        margin-left: 2rem;
      }
    }

    .intro-section__paragraphGroup {
      font-size: 1.2rem;
      grid-column: 6 / span 6;
      margin-bottom: unset;
    }
  }
}

@media (min-width: 1200px) {
  .intro-section {
    .intro-section__avatar {
      grid-column: 4 / span 6;
      justify-content: start;
    }

    .intro-section__paragraphGroup {
      font-size: 1.2rem;
      grid-column: 5 / span 4;
      margin-bottom: unset;
    }
  }
}
