.container {
  display: flex;
  margin-bottom: 2rem;
  min-height: 20rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.container div:last-child {
  border-right: 0;
}

/* Tablet and Desktop */
@media (min-width: 701px) {
  .container {
    display: none;
  }
}
