:root {
  --colorBlack: #011718;
  --colorPrimary: #f6f3ea;
  --colorWhite: #ffffff;
  --borderBottom: calc(2 / 16 * 1rem) solid var(--colorBlack);
}

/* Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
}

button {
  background: transparent;
  border: 0;
}

h1 {
  font-size: 126px;
  margin-bottom: 96px;
}

h2 {
  font-size: 64px;
  margin-bottom: 32px;
}

h3 {
  font-size: 32px;
  margin-bottom: 24px;
}

h4 {
  font-size: 20px;
  margin-bottom: 24px;
}

/* Mobile */
@media (max-width: 700px) {
  body {
    grid-template-columns: repeat(4, 1fr);

    > * {
      grid-column: span 4;
    }
  }
}

/* Tablet and Desktop */
@media (min-width: 701px) {
  body {
    grid-template-columns: repeat(12, 1fr);

    > * {
      grid-column: span 12;
    }
  }
}
