:root {
  --colorBlack: #011718;
  --colorPrimary: #f6f3ea;
  --colorWhite: #ffffff;
  --borderBottom: calc(2 / 16 * 1rem) solid var(--colorBlack);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Hide scrollbar on Firefox */
html {
  scrollbar-width: none;
}

a {
  color: inherit;
}

button {
  background: transparent;
  border: 0;
}

h1 {
  font-size: 7rem;
  margin-bottom: 6rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Mobile */
header,
section,
footer {
  column-gap: 1.5rem;
  display: grid;
  padding: 0 1.5rem;
}

/* Mobile */
@media (max-width: 700px) {
  header,
  section,
  footer {
    grid-template-columns: repeat(4, 1fr);

    > * {
      grid-column: span 4;
    }
  }

  nav {
    display: none;
  }
}

/* Tablet and Desktop */
@media (min-width: 701px) {
  header,
  section,
  footer {
    grid-template-columns: repeat(12, 1fr);
    min-height: 100vh;

    > * {
      grid-column: span 12;
    }
  }
}

nav {
  color: var(--colorWhite);
  mix-blend-mode: difference;
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav ul {
  display: flex;
  height: 50vh;
  justify-content: space-between;
  list-style-type: none;
  padding: 2rem;
}

nav ul:last-child {
  align-items: end;
}

nav a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav li:nth-of-type(2) {
  width: 11rem;
  text-align: right;
}