.card-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  .card {
    border-right: .25rem solid var(--colorBlack);
    min-width: 20rem;
    padding: 2rem;
    scroll-snap-align: start;
    word-wrap: break-word;
  }

  div:last-child {
    border-right: 0;
  }
}