.newCarousel {
  border: 1px solid black;
  position: relative;
  width: 60rem;
}

.newCarousel__cards {
  display: flex;
  overflow-x: auto;
  min-height: 8rem;
  scroll-snap-type: x mandatory;

  .newCarousel__card {
    min-width: 60rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
  }
}

.newCarousel__controls {
  top: calc(50% - 1rem - 1rem);
  position: absolute;
  height: 2rem;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  li {
    background-color: white;
    height: 1.5rem;

    button {
      cursor: pointer;
      height: inherit;
    }
  }
}

.newCarousel__navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 2rem;
  gap: 1rem;

  li button {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &.-full svg {
      fill: var(--colorBlack);
    }
  }
}

