.accordionNewItem {
  border-bottom: calc(2 / 16 * 1rem) solid var(--colorBlack);
  position: relative;

  &.-active {
    border-top: 5px solid var(--colorBlack);
    border-bottom: 5px solid var(--colorBlack);

    .accordionNewItem__button {
      cursor: auto;
    }

    .accordionNewItem__panel {
      display: flex;
    }

    .accordionNewItem__dot svg {
      fill: black;
    }
  }

  &.-border-reset {
    border-bottom: 0;
  }
}

.accordionNewItem__header {
  font-size: unset;
  margin-bottom: 0;
}

.accordionNewItem__button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.accordionNewItem__panel {
  display: none;
  padding: 0 4rem 1rem 0;
}

.accordionNewItem__dot {
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: calc(50% - 1rem);
  width: 2rem;

  svg {
    height: inherit;
    width: inherit;
  }
}
