.accordion-header {
  border-bottom: calc(2 / 16 * 1rem) solid var(--colorBlack);
  margin-bottom: 0;

  .accordion-header__button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    width: 100%;

    .accordion-header__heading {
      font-size: 2rem;
      padding: 1rem 0;
    }
  }
}

/* CLEAN UP */
.borderReset {
  border-bottom: 0;
}