.container {
  background: var(--colorWhite);
  margin-top: 6rem;
  position: relative;
}

.heading {
  grid-column: 2 / span 2;
  z-index: 99;
}

.image {
  border-radius: 50%;
  position: absolute;
  top: calc(-30 / 16 * 1rem);
  left: calc(-43 / 16 * 1rem);
}

.paragraphGroup {
  grid-column: 2 / span 3;
}

@media (min-width: 701px) {
  .container {
    margin-top: unset;
  }

  .heading {
    grid-column: 7 / span 3;
    margin-bottom: unset;
    margin-top: 80%;
  }

  .image {
    left: calc(50% - 300px);
    position: absolute;
    top: calc(50% - 200px);
  }

  .paragraphGroup {
    font-size: 1.2rem;
    grid-column: 5 / span 4;
    margin-bottom: unset;
  }
}
