.container {
  border-bottom: calc(2 / 16 * 1rem) solid var(--colorBlack);
  margin-bottom: 0;
}

.heading {
  display: block;
  font-size: 2rem;
  padding: 1rem 0;
}

.button {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dot {
  margin-right: 2rem;
  height: 2rem;
  width: 2rem;
}
